* {
}

body {
  margin: auto;
  max-width: 1000px;
  background-color: #f7f7f7;
  font-family: Arial, Helvetica, sans-serif;
}

.titulo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  text-align: center;
}

.primeiro {
  display: flex;
  justify-content: center;
  gap: 55px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 64px;
}

a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  background-color: white;
  border-radius: 4px;
  border: 0.8px;
  padding: 18px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.vantagens {
  font-size: 48px;
  color: #c6c6c6;
  text-transform: uppercase;
  text-align: end;
  margin: auto;
  padding: 5px;
}

.imagem {
  width: 100%;
}

.imagem img {
  width: 100%;
  object-fit: cover;
  height: auto;
  display: block;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
}

.info-bike a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-decoration: none;
  border-radius: 4px;
  padding: 10px;
  color: white;
  background-color: #ee2211;
  border: none;
}

.info-bike {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  padding: 5px;
  background-color: white;
}

footer {
  text-align: center;
  padding: 56px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
